<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/sign-up.css">
    </head>
    <body>
      <img src="../assets/img/logo-web.png" alt="" >
      <div id="wrapper">
        <form action="" id="form-login">
        <h1 class="form-heading">Tạo tài khoản mới</h1> 
        <div class="form-group">
        <input type="text" class="form-input" placeholder="Tên đăng nhập">
        </div>
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Mật khẩu">
        </div>
        <div class="form-group">
        <input type="password" class="form-input" placeholder="Nhập lại mật khẩu"> 
      </div>
        <a href="index-main.html"><input type="submit" value="Đăng kí" class="form-submit"></a>
      </form>
      
    </div>
    
        
    </body>
</html>