<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../assets/css/apply-list.css">
        <script src="https://kit.fontawesome.com/8aa3156f32.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
     
        
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
            <nav class="container">
            <a href="../index-main.html" id="logo">
            <img src="../../assets/img/logo-web.png" alt="Unitop.vn"> </a>
            <ul id="main-menu">
        <li><a href="../index-main.html">Trang chủ</a></li>
        <li><a href="../full-search.html">Tìm kiếm <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu">
                <li><a href="../full-search.html">Chức vụ <i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                <ul class="sub-menu">
                    <li><a href="../full-search.html">Intern</a></li>
                    <li><a href="../full-search.html">Junior</a></li>
                    <li><a href="../full-search.html">Senior</a></li>
                    <li><a href="../full-search.html">Trưởng nhóm</a></li>
                    <li><a href="../full-search.html">Trưởng phòng</a></li>
                </ul></li>
                <li><a href="../full-search.html">Loại hình <i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Full-Time</a></li>
                        <li><a href="../full-search.html">Part-Time</a></li>
                    </ul>
                </li>
                <li><a href="../full-search.html">Địa điểm <i class="fa-solid fa-caret-right" style="padding-left:  5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Hồ Chí Minh</a></li>
                        <li><a href="../full-search.html">Hà nội</a></li>
                        <li><a href="../full-search.html">Huế</a></li>
                    </ul>
                </li>
                <li><a href="../full-search.html">Ngôn ngữ <i class="fa-solid fa-caret-right" style="padding-left: 5px ;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Java</a></li>
                        <li><a href="../full-search.html">JavaScript</a></li>
                        <li><a href="../full-search.html">C#</a></li>
                        <li><a href="../full-search.html">PHP</a></li>
                        <li><a href="../full-search.html">C++</a></li>
        
                    </ul>
                </li>
                <li><a href="../full-search.html">Chức năng<i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Font-End</a></li>
                        <li><a href="../full-search.html">Back-End</a></li>
                        <li><a href="../full-search.html">Database</a></li>
                        <li><a href="../full-search.html">IT Security</a></li>
                        <li><a href="../full-search.html">Wordpress</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="../index-main.html">Nhà tuyển dụng <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu">
                <li><a href="../employer/post-project.html">Đổi dự án</a></li>
                <li><a href="../employer/candidate-list.html">Danh sách ứng tuyển</a></li>
            </ul>
            </li>  
        <li><a href="../candidate/info-user.html"><i class="fa-solid fa-user" style="padding-right:5px ;"></i> Tên người dùng <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu2">
                <li><a href="../candidate/info-user.html" style="padding-left: 68.975px;">Đổi thông tin</a></li>
                <li><a href="../candidate/change-password.html" style="padding-left: 64.4px;">Đổi mật khẩu</a></li>
                <li><a href="../sign-in.html">Đăng xuất</a></li>
            </ul>
            </li>
            </ul>     
            <div class="button">
                <a href="../employer/post-project.html">Đăng dự án</a>
            </div>  
            </nav>
            </div>
            </div>

        <!--vach ngan-->


        
        <div class="bulkhead-container">
            <p>Nhà tuyển dụng đăng dự án <i class="fa-solid fa-caret-right" style="padding-right: 15px; padding-left: 15px;"></i> Nhân sự vào tìm kiếm <i class="fa-solid fa-caret-right" style="padding-right: 15px; padding-left: 15px;"></i> Nhận công việc từ nhà tuyển dụng</p>
        </div>
  

        <!-- phan tim kiem va hien danh sach tim kiem -->
        <div class="find-all">
            <div class="recommend">
                <h3>Danh sách công ty bạn đã nộp đơn tuyển dụng</h3>
                <p>Hãy xem xét kĩ trước khi quyết định hủy đơn tuyển dụng</p>
            </div>
            <div class="list-show">
            <div class="list-info">
                <div class="list-find">
                    <div class="list">
                        <div class="congviec1">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv1.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec2">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv1.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec3">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv1.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec4">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv2.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec5">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv2.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec6">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv2.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                        <div class="congviec7">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv1.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div><div class="congviec8">
                            <div class="img-1">
                                <img src="../../assets/img/anhcv2.png" alt="">
                            </div>
                            <div class="info-1">
                            <a href="" style="font-size: 18px;">HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</a>
                            <p>Mức lương: 20-30 triệu đồng</p>  
                            <a href="">NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN BƯU ĐIỆN LIÊN VIỆT  </a>
                            <p>Địa điểm: <a href="">Thành phố Hà Nội</a></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="info1">
                <div class="apply">
                <div class="img-info"><img src="../../assets/img/anhcv1.png" alt=""></div>
                <div class="button-apply"><a href="">Hủy hồ sơ</a></div>
                </div>
                <h2>HO - Khối CNTT - Chuyên viên Giám sát an toàn thông tin (SOC)</h2>
                <p>Lĩnh vực: IT</p>
                <p>Công việc: Tham gia xây dựng, và hỗ trợ triển khai các chính sách, quy trình, tiêu chuẩn kỹ thuật liên quan đến an toàn thông tin</p>
                <p>Mức lương: 20-30 triệu đồng</p>
                <p>Địa điểm: TP Hồ Chí Minh</p>
                <p>Hình thức làm việc: Trực tiếp(Full-Time)</p>


                <h3>Mô tả công việc</h3>
                <ul>
                    <li>Cài đặt, cấu hình và quản trị các thiết bị bảo mật (Firewall, WAF, IPS, DLP, v.v) theo chính sách nhằm đảm bảo an toàn cho hạ tầng CNTT.</li>
                    <li>Phối hợp quản trị hệ thống phòng chống mã độc, hỗ trợ giải quyết các vấn đề liên quan đến mã độc trên máy chủ, máy trạm.</li>
                    <li>Dò quét điểm yếu kỹ thuật; kiểm thử an ninh mạng, hệ thống máy chủ và tìm kiếm phương án khắc cụ các điểm yếu.</li>
                    <li>Tham gia xây dựng, và hỗ trợ triển khai các chính sách, quy trình, tiêu chuẩn kỹ thuật liên quan đến an toàn thông tin.</li>
                    <li>Giám sát, quản trị vận hành và khắc phục các vấn đề về an toàn thông tin.</li>
                    <li>Nghiên cứu, thử nghiệm và đề xuất các giải pháp bảo mật nhằm nâng cao hiệu quả bảo vệ an toàn thông tin.</li>
                    <li>Thực hiện báo cáo tình hình an toàn thông tin cho cấp trên theo định kỳ, hoặc khi được yêu cầu trực tiếp.</li>
                </ul>
                


                <h3>Yêu cầu đối với các ứng viên:</h3>
                <ul>
                    <li>Tuổi từ 22-30 tuổi.</li>
                    <li>Ưu tiên người có kinh nghiệm, chưa có kinh nghiệm sẽ được đào tạo.</li>
                    <li>Năng động, tự tin, nhiệt tình và trách nhiệm cao trong công việc.</li>
                    <li>Ưu tiên tuyển dụng người có bằng cấp tốt và các chứng chỉ ngoại ngữ</li>
                </ul>



                <h3>Yêu cầu kĩ năng: </h3>  
                <ul>
                    <li>Kỹ năng giao tiếp tốt</li>
                    <li>Khả năng làm việc nhóm, làm việc độc lập</li>
                    <li>Khả năng chịu áp lực công việc lớn</li>
                    <li>Quản lý thời gian và sắp xếp công việc hiệu quả</li>
                </ul> 
                
                <h3>Cách thức ứng tuyển </h3> 
                <p>Ứng viên nộp hồ sơ trực tuyến bằng cách bấm Ứng tuyển ở phía trên.</p>
                </div>
            
            </div>
            </div>
        </div>
















                <!--footer-->
                <div class="footer">
                    <img src="../../assets/img/logo-web.png" alt="">
                    <div class="col">
                        <p><i class="fa-solid fa-envelope" style="padding-right: 15px;"></i>Email: <a href="">123@gmail.com</a></p>
                        <p><i class="fa-solid fa-phone" style="padding-right: 15px;"></i>Hotline: 0999999999</p>
                        <p><i class="fa-solid fa-location-dot" style="padding-right: 15px;"></i>Địa chỉ: <a href="https://www.google.com/maps/place/H%E1%BB%8Dc+vi%E1%BB%87n+H%C3%A0ng+kh%C3%B4ng+Vi%E1%BB%87t+Nam+-+CS2/@10.8000211,106.6518413,17z/data=!3m1!4b1!4m6!3m5!1s0x3175292976c117ad:0x5b3f38b21051f84!8m2!3d10.8000211!4d106.6544162!16s%2Fg%2F1td1mcc1?hl=vi-VN&entry=ttu">1 Đ. Cộng Hòa, Phường 4, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</a></p>
                    </div>
            
                  </div>
                
                
                <!-- Trở lại đầu trang-->
                <div class="back-top">
                        <i class="fa-solid fa-circle-arrow-up" style=" font-size: 30px;"></i>
                
                      </div>
        
        
        
                
            </body>
        
        
    
        
         <!--Script back top-->
        
         <script>
             $(document).ready(function() {
                 $(window).scroll(function() {
                     if ($(this).scrollTop()) {
                  $('.back-top').fadeIn();
             } else {
                       $('.back-top').fadeOut();
             }
         });   
         
             $(".back-top").click(function() {
                   $('html, body').animate({
                    scrollTop: 0
             }, 500);
             });
             });
         </script>
 



        

<script>
    // Định nghĩa số lượng mục trên mỗi trang
var itemsPerPage = 4;

// Lấy danh sách tất cả các mục con có class bắt đầu bằng 'congviec'
var jobItems = document.querySelectorAll('[class^="congviec"]');

// Tính toán số lượng trang
var numPages = Math.ceil(jobItems.length / itemsPerPage);

// Hiển thị trang đầu tiên ban đầu
showPage(1);

// Hàm để hiển thị các mục cho một trang cụ thể
function showPage(pageNumber) {
    // Tính chỉ số bắt đầu và kết thúc của các mục trên trang này
    var startIndex = (pageNumber - 1) * itemsPerPage;
    var endIndex = pageNumber * itemsPerPage;

    // Ẩn tất cả các mục trước khi hiển thị lại
    jobItems.forEach(function(item) {
        item.style.display = 'none';
    });

    // Hiển thị các mục từ startIndex đến endIndex
    for (var i = startIndex; i < endIndex && i < jobItems.length; i++) {
        jobItems[i].style.display = 'flex';
    }
}

// Tạo các nút hoặc liên kết cho mỗi trang
var paginationContainer = document.createElement('div');
paginationContainer.className = 'pagination';

for (var i = 1; i <= numPages; i++) {
    var pageLink = document.createElement('a');
    pageLink.textContent = i;
    pageLink.href = '#'; // Thay thế '#' bằng link tương ứng của trang nếu cần
    pageLink.style.textDecoration = 'none'; // Loại bỏ gạch chân
    pageLink.style.color = 'black'; // Đổi màu văn bản
    pageLink.style.fontSize = '18px'; // Đổi kích thước văn bản
    pageLink.style.margin = '10px 5px'; // Khoảng cách giữa các số
    pageLink.style.cursor = 'pointer'; // Biểu tượng con trỏ khi di chuột
    pageLink.style.fontWeight = 'bold';

    // Khi người dùng click vào một trang, hiển thị các mục cho trang đó
    pageLink.addEventListener('click', function(event) {
        event.preventDefault();
        var pageNumber = parseInt(event.target.textContent);
        showPage(pageNumber);
    });

    paginationContainer.appendChild(pageLink);
}

// Thêm các nút phân trang vào cuối danh sách công việc
var listInfo = document.querySelector('.list-info');
listInfo.appendChild(paginationContainer);
</script>





     




<!--hủy hồ sơ-->
<script src="../../js/cancel-apply-list.js"></script>











<!--Liên kết onclick-->                                               <!--làm k được :))))))))-->
<script>
   // Khởi tạo biến lưu trữ trạng thái hiển thị
let currentInfo = "info1";

// Thêm sự kiện click cho các thẻ `a` trong các thẻ `congviec`
const congviecEls = document.querySelectorAll(".congviec");
for (const congviec of congviecEls) {
  const aEl = congviec.querySelector("a");
  aEl.addEventListener("click", function (e) {
    e.preventDefault(); // Ngăn chặn chuyển hướng trang

    const infoId = e.target.closest(".congviec").querySelector(".info").id;
    if (infoId === currentInfo) return;

    // Ẩn thông tin hiện tại
    document.getElementById(currentInfo).classList.add("hidden");

    // Hiển thị thông tin mới
    currentInfo = infoId;
    document.getElementById(infoId).classList.remove("hidden");
  });
}
</script>



            
                
</html>