<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../assets/css/info-user.css">
        <script src="https://kit.fontawesome.com/8aa3156f32.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
            <nav class="container">
            <a href="../index-main.html" id="logo">
            <img src="../../assets/img/logo-web.png" alt="Unitop.vn"> </a>
            <ul id="main-menu">
        <li><a href="../index-main.html">Trang chủ</a></li>
        <li><a href="../full-search.html">Tìm kiếm <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu">
                <li><a href="../full-search.html">Chức vụ <i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                <ul class="sub-menu">
                    <li><a href="../full-search.html">Intern</a></li>
                    <li><a href="../full-search.html">Junior</a></li>
                    <li><a href="../full-search.html">Senior</a></li>
                    <li><a href="../full-search.html">Trưởng nhóm</a></li>
                    <li><a href="../full-search.html">Trưởng phòng</a></li>
                </ul></li>
                <li><a href="../full-search.html">Loại hình <i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Full-Time</a></li>
                        <li><a href="../full-search.html">Part-Time</a></li>
                    </ul>
                </li>
                <li><a href="../full-search.html">Địa điểm <i class="fa-solid fa-caret-right" style="padding-left:  5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Hồ Chí Minh</a></li>
                        <li><a href="../full-search.html">Hà nội</a></li>
                        <li><a href="../full-search.html">Huế</a></li>
                    </ul>
                </li>
                <li><a href="../full-search.html">Ngôn ngữ <i class="fa-solid fa-caret-right" style="padding-left: 5px ;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Java</a></li>
                        <li><a href="../full-search.html">JavaScript</a></li>
                        <li><a href="../full-search.html">C#</a></li>
                        <li><a href="../full-search.html">PHP</a></li>
                        <li><a href="../full-search.html">C++</a></li>
        
                    </ul>
                </li>
                <li><a href="../full-search.html">Chức năng<i class="fa-solid fa-caret-right" style="padding-left: 5px;"></i></a>
                    <ul class="sub-menu">
                        <li><a href="../full-search.html">Font-End</a></li>
                        <li><a href="../full-search.html">Back-End</a></li>
                        <li><a href="../full-search.html">Database</a></li>
                        <li><a href="../full-search.html">IT Security</a></li>
                        <li><a href="../full-search.html">Wordpress</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="../index-main.html">Nhà tuyển dụng <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu">
                <li><a href="../employer/post-project.html">Đổi dự án</a></li>
                <li><a href="../employer/candidate-list.html">Danh sách ứng tuyển</a></li>
            </ul>
            </li>  
        <li><a href="../candidate/info-user.html"><i class="fa-solid fa-user" style="padding-right:5px ;"></i> Tên người dùng <i class="fa-solid fa-caret-down" style="padding-left: 5px;"></i></a>
            <ul class="sub-menu2">
                <li><a href="../candidate/info-user.html" style="padding-left: 68.975px;">Đổi thông tin</a></li>
                <li><a href="../candidate/change-password.html" style="padding-left: 64.4px;">Đổi mật khẩu</a></li>
                <li><a href="../sign-in.html">Đăng xuất</a></li>
            </ul>
            </li>
            </ul>     
            <div class="button">
                <a href="../employer/post-project.html">Đăng dự án</a>
            </div>  
            </nav>
            </div>
            </div>



        <!--vach ngan-->


        
        <div class="bulkhead-container">
            <p>Nhà tuyển dụng đăng dự án <i class="fa-solid fa-caret-right" style="padding-right: 15px; padding-left: 15px;"></i> Nhân sự vào tìm kiếm <i class="fa-solid fa-caret-right" style="padding-right: 15px; padding-left: 15px;"></i> Nhận công việc từ nhà tuyển dụng</p>
        </div>
  




<!--Đổi thông tin cá nhân-->
<div class="change-all">
<div class="listall">
    <ul>
        <li class="see"><a href="info-user.html">Tài khoản</a></li>
        <li class="hover"><a href="setting.html">Cài đặt chung</a></li>
        <li class="hover"><a href="change-password.html">Đổi mật khẩu</a></li>
    </ul>
</div>
<div class="change">
    <div class="listmini">
        <ul>
            <li class="see2"><a href="info-user.html">Thông tin cá nhân</a></li>
            <li class="hover2"><a href="cv.html">Hồ sơ năng lực(CV)</a></li>
            <li class="hover2"><a href="apply-list.html">Danh sách công việc ứng tuyển</a></li>
            <li class="hover2"><a href="verified-phonenumber.html">Xác thực thông tin</a></li>
        </ul>
    </div>
 <form action="">   
    <div class="doithongtin">
<div class="phan1">
    <h1>Thông tin chung</h1>
</div>
<dl>
    <dt>
        Ảnh đại diện <span class="redtext">*</span>
    </dt>
    <dd>
        <div class="img">
            <img src="../../assets/img/user.jpg" alt="">
        </div>
        <div class="upload">
            <input type="file" id="img-uploader">
        </div>
    </dd>
    <dt>
        Họ và tên <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="name" placeholder="Nguyễn Văn A">
    </dd>
    <dt>
        Email <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="email" placeholder="A@vaa.edu.vn">
    </dd>
    <dt>
        Sđt <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="phonenumber" placeholder="0000000000">
    </dd>
    <dt>
        Thành phố <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="place"  placeholder="Huế">
    </dd>
    <dt>
        Địa chỉ <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="address" placeholder="1 Đ. Cộng Hòa, Phường 4">
    </dd>
</dl>
<div class="phan2">
    <h1>Thông tin xác thực</h1>
</div>
<dl>
    <dt>
        Họ tên trên CCCD <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="name-cccd" placeholder="Nguyễn Văn A">
    </dd>
    <dt>
        Số CCCD <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="phonenumber-cccd" placeholder="000000000000">
    </dd>
    <dt>
        Ngày nhận <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="day-cccd" placeholder="14/01/2024">
    </dd>
    <dt>
        Ngày sinh <span class="redtext">*</span>
    </dt>
    <dd>
        <input type="text" name="birth-cccd" placeholder="01/07/2004">
    </dd>
</dl>
<div class="submit">
    <input type="button" name="submit-form" id="" value="Lưu thay đổi" >
</div>


    </div>
</form>
</div>



</div>









                <!--footer-->
                <div class="footer">
                    <img src="../../assets/img/logo-web.png" alt="">
                    <div class="col">
                        <p><i class="fa-solid fa-envelope" style="padding-right: 15px;"></i>Email: <a href="">123@gmail.com</a></p>
                        <p><i class="fa-solid fa-phone" style="padding-right: 15px;"></i>Hotline: 0999999999</p>
                        <p><i class="fa-solid fa-location-dot" style="padding-right: 15px;"></i>Địa chỉ: <a href="https://www.google.com/maps/place/H%E1%BB%8Dc+vi%E1%BB%87n+H%C3%A0ng+kh%C3%B4ng+Vi%E1%BB%87t+Nam+-+CS2/@10.8000211,106.6518413,17z/data=!3m1!4b1!4m6!3m5!1s0x3175292976c117ad:0x5b3f38b21051f84!8m2!3d10.8000211!4d106.6544162!16s%2Fg%2F1td1mcc1?hl=vi-VN&entry=ttu">1 Đ. Cộng Hòa, Phường 4, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</a></p>
                    </div>
            
                  </div>
                
                
                <!-- Trở lại đầu trang-->
                <div class="back-top">
                        <i class="fa-solid fa-circle-arrow-up" style=" font-size: 30px;"></i>
                
                      </div>
        
        
        
                
            </body>
        
        
    
        
        <!--Script back top-->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="../../js/back-top.js"></script>


<!--Script upload files-->
<script src="../../js/upload-info-user.js"></script>
            
                
        </html>